* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #525869;
    color: #333;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

header p {
    font-size: 1.2em;
    color: #555;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.job, .school {
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

body {
    font-family: Arial, sans-serif;
    background: url('fotki/fon.png') no-repeat center center fixed; /* Заміни на шлях до свого зображення */
    background-size: cover; /* Застосовує масштабування, щоб картинка покривала весь екран */
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
